@mixin something {
   color: #000000;
    display: flex;
    margin-left: 50px;
    margin-top: 20px;
    gap: 20px;
}

@mixin something-2 {

    font-size: 24px;
	width: 120px;
	height: 28px;
	color: #000000;
}